@import "variables";

//Container
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 3.75rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.description {
  color: @secondary;
  font-size: 1.13rem;
  line-height: 1.9rem;
}


