@primary: #ffffff;
@secondary: #7b999f;

@primary-active: #f9004d;
@primary-bg: #191919;
@secondary-bg: #070707;
@primary-inactive: #b9b6b6;

@primary-gradient: linear-gradient(to right, @primary-bg, @secondary-bg);
@secondary-gradient: linear-gradient(to right, @secondary-bg, @primary-bg);

